/*IMPORT FONTS*/
@import "../fonts/helvetica/stylesheet.css";
@import "../fonts/montserrat/stylesheet.css";
/*IMPORT BS GRID*/
@import "../css/bootstrap-grid.min.css";

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    &__nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        z-index: 1024;
    }

    &__nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    &__logo {
        width: 232px;
        height: auto;

        &a>img {
            width: 100%;
            height: auto;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__menu-item {
        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__menu-link {
        display: flex;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        padding: 4px;
        transition: color 128ms linear;

        &:hover {
            color: #ff0f00;
        }
    }

    &__phone-link {
        display: flex;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        padding: 4px;
        transition: color 128ms linear;

        &:hover {
            color: #ff0f00;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    &__content-block {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    &__content-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
            width: 100%;
            height: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
            width: 100%;
            height: 50%;
        }

        &--circle {
            position: absolute;
            top: 200px;
            right: -1024px;
            width: 1500px;
            height: 1500px;
            background-image: radial-gradient(circle, rgba(255, 15, 0, 1) 0%, rgba(0, 0, 0, 0) 64%);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 128;
        }
    }

    &__content-video {
        width: 100%;
        height: 100%;

        &--main {
            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 100%;
            }
        }
    }

    &__content-gradient {
        width: 100%;
        height: 100%;

        &--second {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(255, 15, 0, 1) 100%);
        }
    }

    &__content-text {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;

        &--main {
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__data-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--main {
            position: relative;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 96px;
            max-width: 384px;
            z-index: 512;
        }

        &--second {
            position: relative;
            justify-content: center;
            align-items: flex-start;
            max-width: 512px;
            margin-right: 32px;
            z-index: 512;
        }
    }

    &__content-triangle {
        position: absolute;
        background-image: url("../img/header/triangle.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &--main {
            top: -150px;
            left: -180px;
            width: 180px;
            height: 180px;
            z-index: -1;
        }

        &--second {
            bottom: -64px;
            left: -200px;
            width: 512px;
            height: 512px;
            z-index: -1;
        }
    }

    &__content-title {
        font-family: "Helvetica Neue";

        &--main-h1 {
            font-weight: 600;
            font-size: 64px;
            text-transform: uppercase;
            line-height: 64px;
            color: #ff0f00;
        }

        &--main-p {
            font-weight: 600;
            font-size: 64px;
            text-transform: uppercase;
            line-height: 64px;
            color: #ffffff;
        }

        &--second-h1 {
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 32px;
            color: #ff0f00;
        }

        &--second-p {
            font-weight: 300;
            font-size: 40px;
            text-transform: uppercase;
            line-height: 48px;
            color: #ffffff;
        }
    }

    &__content-description {
        color: #ffffff;

        &--main {
            font-weight: 300;
            font-size: 12px;
            margin-top: 16px;

            & b {
                font-weight: 600;
            }
        }

        &--second {
            font-weight: 200;
            font-size: 12px;
            margin-top: 36px;
            line-height: 20px;

            &:nth-of-type(2) {
                margin-top: 16px;
            }

            & b {
                color: #ff0f00;
                font-weight: 600;
            }
        }
    }

    &__content-scroll-button {
        & button {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            outline: none;
            border: 1px solid #ffffff;
            border-radius: 16px;
            background-color: transparent;
            color: #ffffff;
            text-transform: uppercase;
            text-wrap: nowrap;
            font-weight: bold;
            font-size: 12px;
            padding: 8px 16px;
            margin-bottom: 96px;
            transition: background-color 256ms linear;
            cursor: pointer;
            z-index: 256;

            & i {
                color: #ff0f00;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.24);
            }
        }
    }

    &__content-img-second {
        position: relative;
        z-index: 256;
        width: 444px;
        height: 450px;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

.main {
    width: 100%;
    height: auto;

    &__section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 128px;
    }

    &__heading {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--category {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color: #ff0f00;
            margin-bottom: 24px;
        }

        &--title {
            font-family: "Helvetica Neue";
            text-transform: uppercase;
            font-size: 48px;
            color: #000000;
            margin-bottom: 128px;
        }
    }

    &__image-container {
        width: 777px;
        height: 100%;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 64px 0px;
    }

    &__service-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 24px 32px;
        overflow: hidden;

        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__services-block-image-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0px;
        margin-bottom: 16px;

        &--img {
            position: absolute;
            width: 36px;
            height: 36px;
        }
    }

    &__service-block-circle {
        content: "";
        position: relative;
        width: 72px;
        height: 72px;
        background-color: #ff0f00;
        background-size: 50px;
        background-position: center center;
        border-radius: 50%;
        transform-origin: center center;
        transition: transform 512ms ease;
        z-index: -1;
    }

    &__services-block-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 24px;
            color: #000000;
            text-decoration: none;

            &:hover {
                color: #698CFF;
                text-decoration: underline;
            }
        }

        &--description {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 24px;
        }
    }

    &__components {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 128px;
    }

    &__components-block {
        position: relative;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        overflow: hidden;

        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__components-block-overlay-radial {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, rgba(255, 15, 0, 0) 30%, rgba(0, 0, 0, 1) 100%);
        z-index: 128;
    }

    &__components-block-overlay-linear {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(255, 15, 0, 1) 100%);
        z-index: 128;
    }

    &__components-block-overlay-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__components-block-heading {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 128;

        &--button {
            width: 40px;
            height: 40px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            outline: none;
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;
            transition: background-color 128ms linear,color 128ms linear;
        }
    }

    &__components-block-footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100px;
        background-color: transparent;
        backdrop-filter: blur(0px);
        border-radius: 24px;
        margin: 8px;
        padding: 24px;
        overflow: hidden;
        transform: translate(-20px,-30px);
        transition: background-color 128ms linear, height 128ms linear,transform 128ms linear;
        z-index: 128;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 32px;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 12px;
        }

        &--description {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            opacity: 0;
            transition: opacity 128ms linear;
        }
    }

    .main__components-block:hover .main__components-block-heading button{
        background-color: #ffffff;
        color: #000000;
    }

    .main__components-block:hover .main__components-block-footer--description{
        opacity: 1;
    }

    .main__components-block:hover .main__components-block-footer{
        height: 200px;
        backdrop-filter: blur(6px);
        background-color: rgba(100, 100, 100, 0.4);
        transform: translate(0px,0px);
    }
}