/*IMPORT FONTS*/
@import "../fonts/helvetica/stylesheet.css";
@import "../fonts/montserrat/stylesheet.css";
/*IMPORT BS GRID*/
@import "../css/bootstrap-grid.min.css";
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1024px;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 1024;
}
.header__nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}
.header__logo {
  width: 232px;
  height: auto;
}
.header__logoa > img {
  width: 100%;
  height: auto;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.header__menu-item:not(:last-of-type) {
  margin-right: 32px;
}
.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  padding: 4px;
  -webkit-transition: color 128ms linear;
  transition: color 128ms linear;
}
.header__menu-link:hover {
  color: #ff0f00;
}
.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 4px;
  -webkit-transition: color 128ms linear;
  transition: color 128ms linear;
}
.header__phone-link:hover {
  color: #ff0f00;
}
.header__content {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.header__content-block {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header__content-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.header__content-overlay::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), color-stop(64%, rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
  width: 100%;
  height: 50%;
}
.header__content-overlay::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), color-stop(64%, rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
  width: 100%;
  height: 50%;
}
.header__content-overlay--circle {
  position: absolute;
  top: 200px;
  right: -1024px;
  width: 1500px;
  height: 1500px;
  background-image: radial-gradient(circle, rgb(255, 15, 0) 0%, rgba(0, 0, 0, 0) 64%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 128;
}
.header__content-video {
  width: 100%;
  height: 100%;
}
.header__content-video--main video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
}
.header__content-gradient {
  width: 100%;
  height: 100%;
}
.header__content-gradient--second {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(0, 0, 0)), to(rgb(255, 15, 0)));
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(255, 15, 0) 100%);
}
.header__content-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__content-text--main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__data-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__data-container--main {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 96px;
  max-width: 384px;
  z-index: 512;
}
.header__data-container--second {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 512px;
  margin-right: 32px;
  z-index: 512;
}
.header__content-triangle {
  position: absolute;
  background-image: url("../img/header/triangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__content-triangle--main {
  top: -150px;
  left: -180px;
  width: 180px;
  height: 180px;
  z-index: -1;
}
.header__content-triangle--second {
  bottom: -64px;
  left: -200px;
  width: 512px;
  height: 512px;
  z-index: -1;
}
.header__content-title {
  font-family: "Helvetica Neue";
}
.header__content-title--main-h1 {
  font-weight: 600;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 64px;
  color: #ff0f00;
}
.header__content-title--main-p {
  font-weight: 600;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 64px;
  color: #ffffff;
}
.header__content-title--second-h1 {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
  color: #ff0f00;
}
.header__content-title--second-p {
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 48px;
  color: #ffffff;
}
.header__content-description {
  color: #ffffff;
}
.header__content-description--main {
  font-weight: 300;
  font-size: 12px;
  margin-top: 16px;
}
.header__content-description--main b {
  font-weight: 600;
}
.header__content-description--second {
  font-weight: 200;
  font-size: 12px;
  margin-top: 36px;
  line-height: 20px;
}
.header__content-description--second:nth-of-type(2) {
  margin-top: 16px;
}
.header__content-description--second b {
  color: #ff0f00;
  font-weight: 600;
}
.header__content-scroll-button button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 16px;
  margin-bottom: 96px;
  -webkit-transition: background-color 256ms linear;
  transition: background-color 256ms linear;
  cursor: pointer;
  z-index: 256;
}
.header__content-scroll-button button i {
  color: #ff0f00;
}
.header__content-scroll-button button:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.header__content-img-second {
  position: relative;
  z-index: 256;
  width: 444px;
  height: 450px;
}
.header__content-img-second img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  width: 100%;
  height: auto;
}
.main__section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 128px;
}
.main__heading {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__heading--category {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #ff0f00;
  margin-bottom: 24px;
}
.main__heading--title {
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-size: 48px;
  color: #000000;
  margin-bottom: 128px;
}
.main__image-container {
  width: 777px;
  height: 100%;
}
.main__image-container--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px 0px;
}
.main__service-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  padding: 24px 32px;
  overflow: hidden;
}
.main__service-block:not(:last-of-type) {
  margin-right: 32px;
}
.main__services-block-image-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
  margin-bottom: 16px;
}
.main__services-block-image-container--img {
  position: absolute;
  width: 36px;
  height: 36px;
}
.main__service-block-circle {
  content: "";
  position: relative;
  width: 72px;
  height: 72px;
  background-color: #ff0f00;
  background-size: 50px;
  background-position: center center;
  border-radius: 50%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 512ms ease;
  transition: -webkit-transform 512ms ease;
  transition: transform 512ms ease;
  transition: transform 512ms ease, -webkit-transform 512ms ease;
  z-index: -1;
}
.main__services-block-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__services-block-heading--title {
  font-family: "Helvetica Neue";
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 24px;
  color: #000000;
  text-decoration: none;
}
.main__services-block-heading--title:hover {
  color: #698CFF;
  text-decoration: underline;
}
.main__services-block-heading--description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
.main__components {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 128px;
}
.main__components-block {
  position: relative;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  overflow: hidden;
}
.main__components-block:not(:last-of-type) {
  margin-right: 32px;
}
.main__components-block:hover .main__components-block-heading button {
  background-color: #ffffff;
  color: #000000;
}
.main__components-block:hover .main__components-block-footer--description {
  opacity: 1;
}
.main__components-block:hover .main__components-block-footer {
  height: 200px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(100, 100, 100, 0.4);
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.main__components-block-overlay-radial {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255, 15, 0, 0) 30%, rgb(0, 0, 0) 100%);
  z-index: 128;
}
.main__components-block-overlay-linear {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(rgb(255, 15, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgb(255, 15, 0) 100%);
  z-index: 128;
}
.main__components-block-overlay-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.main__components-block-overlay-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__components-block-heading {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 128;
}
.main__components-block-heading--button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: background-color 128ms linear, color 128ms linear;
  transition: background-color 128ms linear, color 128ms linear;
}
.main__components-block-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border-radius: 24px;
  margin: 8px;
  padding: 24px;
  overflow: hidden;
  -webkit-transform: translate(-20px, -30px);
          transform: translate(-20px, -30px);
  -webkit-transition: background-color 128ms linear, height 128ms linear, -webkit-transform 128ms linear;
  transition: background-color 128ms linear, height 128ms linear, -webkit-transform 128ms linear;
  transition: background-color 128ms linear, height 128ms linear, transform 128ms linear;
  transition: background-color 128ms linear, height 128ms linear, transform 128ms linear, -webkit-transform 128ms linear;
  z-index: 128;
}
.main__components-block-footer--title {
  font-family: "Helvetica Neue";
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.main__components-block-footer--description {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 128ms linear;
  transition: opacity 128ms linear;
}

.footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  margin-top: 64px;
}
.footer__content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #959595;
  margin: 64px 0px;
}
.footer__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 28px;
  margin-right: 32px;
  text-decoration: none;
}
.footer__contact-block:not(:last-of-type) {
  margin-right: 64px;
}
.footer__contact-block:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.footer__contact-block-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 16px;
  color: #ffffff;
}
.footer__contact-block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 16px;
}
.footer__contact-block-info--title {
  font-size: 14px;
  font-weight: 300;
  color: #959595;
  margin-bottom: 4px;
}
.footer__contact-block-info--description {
  font-size: 14px;
  color: #ffffff;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__nav-about {
  width: 100%;
  height: auto;
  max-width: 427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 128px;
}
.footer__nav-about--title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__nav-about--title strong {
  color: #ff0f00;
}
.footer__nav-about--description {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
}
.footer__nav-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.footer__nav-navigation--title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff0f00;
  margin-bottom: 20px;
}
.footer__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
}
.footer__nav-menu--item:not(:last-of-type) {
  margin-bottom: 12px;
}
.footer__nav-menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: color 128ms linear;
  transition: color 128ms linear;
}
.footer__nav-menu--link:hover {
  color: #ff0f00;
}
.footer__nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__nav-social-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 128ms linear, border 128ms linear;
  transition: color 128ms linear, border 128ms linear;
}
.footer__nav-social-icon:not(:last-of-type) {
  margin-bottom: 16px;
}
.footer__nav-social-icon:hover {
  border: 1px solid #ff0f00;
  color: #ff0f00;
}
.footer__bottom {
  width: 100%;
  height: auto;
  background-color: #242424;
  padding: 20px;
  margin-top: 128px;
}
.footer__bottom-copyright--description {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}