/*IMPORT FONTS*/
@import "../fonts/helvetica/stylesheet.css";
@import "../fonts/montserrat/stylesheet.css";
/*IMPORT BS GRID*/
@import "../css/bootstrap-grid.min.css";

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
}

.container {
    max-width: 1024px;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    &__nav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        z-index: 1024;
    }

    &__nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    &__logo {
        width: 232px;
        height: auto;

        &a>img {
            width: 100%;
            height: auto;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__menu-item {
        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__menu-link {
        display: flex;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        padding: 4px;
        transition: color 128ms linear;

        &:hover {
            color: #ff0f00;
        }
    }

    &__phone-link {
        display: flex;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        padding: 4px;
        transition: color 128ms linear;

        &:hover {
            color: #ff0f00;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    &__content-block {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    &__content-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
            width: 100%;
            height: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
            width: 100%;
            height: 50%;
        }

        &--circle{
            position: absolute;
            top: 200px;
            right: -1024px;
            width: 1500px;
            height: 1500px;
            background-image: radial-gradient(circle, rgba(255,15,0,1) 0%, rgba(0,0,0,0) 64%);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 128;
        }
    }

    &__content-video {
        width: 100%;
        height: 100%;

        &--main {
            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 100%;
            }
        }
    }

    &__content-gradient {
        width: 100%;
        height: 100%;

        &--second {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(255, 15, 0, 1) 100%);
        }
    }

    &__content-text {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;

        &--main {
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__data-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--main {
            position: relative;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 96px;
            max-width: 384px;
            z-index: 512;
        }

        &--second {
            position: relative;
            justify-content: center;
            align-items: flex-start;
            max-width: 512px;
            margin-right: 32px;
            z-index: 512;
        }
    }

    &__content-triangle {
        position: absolute;
        background-image: url("../img/header/triangle.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &--main {
            top: -150px;
            left: -180px;
            width: 180px;
            height: 180px;
            z-index: -1;
        }

        &--second {
            bottom: -64px;
            left: -200px;
            width: 512px;
            height: 512px;
            z-index: -1;
        }
    }

    &__content-title {
        font-family: "Helvetica Neue";

        &--main-h1 {
            font-weight: 600;
            font-size: 64px;
            text-transform: uppercase;
            line-height: 64px;
            color: #ff0f00;
        }

        &--main-p {
            font-weight: 600;
            font-size: 64px;
            text-transform: uppercase;
            line-height: 64px;
            color: #ffffff;
        }

        &--second-h1 {
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 32px;
            color: #ff0f00;
        }

        &--second-p {
            font-weight: 300;
            font-size: 40px;
            text-transform: uppercase;
            line-height: 48px;
            color: #ffffff;
        }
    }

    &__content-description {
        color: #ffffff;

        &--main {
            font-weight: 300;
            font-size: 12px;
            margin-top: 16px;

            & b {
                font-weight: 600;
            }
        }

        &--second {
            font-weight: 200;
            font-size: 12px;
            margin-top: 36px;
            line-height: 20px;

            &:nth-of-type(2){
                margin-top: 16px;
            }
            & b {
                color: #ff0f00;
                font-weight: 600;
            }
        }
    }

    &__content-scroll-button {
        & button {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            outline: none;
            border: 1px solid #ffffff;
            border-radius: 16px;
            background-color: transparent;
            color: #ffffff;
            text-transform: uppercase;
            text-wrap: nowrap;
            font-weight: bold;
            font-size: 12px;
            padding: 8px 16px;
            margin-bottom: 96px;
            transition: background-color 256ms linear;
            cursor: pointer;
            z-index: 256;

            & i {
                color: #ff0f00;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.24);
            }
        }
    }

    &__content-img-second {
        position: relative;
        z-index: 256;
        width: 444px;
        height: 450px;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

.main {

    &__section {}

    &__heading {}

    &__heading--category {}

    &__heading--title {}

    &__image-container {}

    &__image-container--img {}

    &__services {}

    &__services-image-container {}

    &__services-image-container--img {}

    &__services-heading {}

    &__services-heading--title {}

    &__services-heading--description {}
}
